header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    
}

.logotipo_electric{
    width: 30px;
    height: auto;
}

#titulo__principal{
    color: #2F438A;
    font-weight: 700;
}

