body{
    background-color: #EDEDED;
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

footer{
    height: 100px;
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.titulo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divisor_titulo{
    text-align: center;
    font-weight: 300;
}

.linha{
    display: block;                 
    border-bottom: 2px solid rgb(216, 216, 216);
    width: 30vw;                    
    margin: 20px auto;
}